/* renders a focus ring via `box-shadow` (background color must be explicitly set!) */
@mixin focus {
  outline: 2px solid var(--c-focus);
  outline-offset: 2px;
}

/* renders a focus ring within the element's border */
@mixin focus-inset {
  outline: 2px solid var(--c-focus);
  outline-offset: -2px;
}
