// Atomic CSS classes are decorated with the `!important` keyword
// to make sure that they take precedence

.w-full {
  width: 100% !important;
}

.round {
  border-radius: 50% !important;
}

.font-regular {
  font-weight: var(--font-weight-regular) !important;
}

.font-semibold {
  font-weight: var(--font-weight-semi-bold) !important;
}

.font-bold {
  font-weight: var(--font-weight-bold) !important;
}

.font-black {
  font-weight: var(--font-weight-black) !important;
}

.font-georgia {
  font-family: Georgia, serif !important;
}
