.chart-title {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-base);
  line-height: var(--line-height-tight);
  color: var(--c-ui-gray-500);
  margin-bottom: var(--s-rem-1);
}

.chart-subtitle {
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-tight);
  color: var(--c-ui-gray-500);
  margin-bottom: var(--s-rem-4);
}

.chart-footer {
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-tight);
  color: var(--c-ui-gray-300);
  margin-top: var(--s-rem-3);
}

.chart-legend {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-tight);
  color: var(--c-ui-gray-500);
}

.chart-annotation {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: var(--font-size-xs);
  line-height: var(--line-height-tight);
  color: var(--c-ui-gray-400);
  fill: var(--c-ui-gray-400);
}

.axis-label {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-tight);
  fill: var(--c-ui-gray-300);
}

.axis-tick {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-tight);
  fill: var(--c-ui-gray-300);
}
