/* removes user agent styles */

.reset {
  all: unset;
  box-sizing: border-box;

  &:focus {
    outline: none;
    @include focus;
  }

  &:focus:not(:focus-visible),
  &:focus:not(.focus-visible) {
    outline: none;
  }

  &:focus-visible,
  &.focus-visible {
    @include focus;
  }
}
