/* partly taken from https://github.com/andy-piccalilli/modern-css-reset (MIT licensed)
and https://www.joshwcomeau.com/css/custom-css-reset/ */

@import '../../../src/style/fonts';
@import './prism';

@import './variables';
@import './base';

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  height: 100%;
  color: var(--black);
}

body {
  font-family: 'Interstate', sans-serif;
  height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
