@font-face {
  font-family: 'Interstate';
  font-style: normal;
  font-weight: 400;
  src: local('Interstate'),
    url('fonts/rbb_V2_Interstate-Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Interstate';
  font-style: normal;
  font-weight: 500;
  src: local('Interstate'),
    url('fonts/rbb_V2_Interstate-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Interstate';
  font-style: normal;
  font-weight: 700;
  src: local('Interstate'),
    url('fonts/rbb_V2_Interstate-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Interstate';
  font-style: normal;
  font-weight: 900;
  src: local('Interstate') url('fonts/rbb_V2_Interstate-Black.woff')
    format('woff');
  font-display: swap;
}
