/* partly taken from https://github.com/andy-piccalilli/modern-css-reset (MIT licensed)
and https://www.joshwcomeau.com/css/custom-css-reset/ */

@import './tokens.css';
@import './mixins.scss';
@import './fonts.css';

* {
  margin: 0;

  @media (prefers-reduced-motion: reduce) {
    @include use-reduced-motion;
  }

  &::before,
  &::after {
    box-sizing: border-box;

    @media (prefers-reduced-motion: reduce) {
      @include use-reduced-motion;
    }
  }

  &:focus-visible {
    @include focus;
  }
}

body {
  font-family: 'Interstate', sans-serif;
  line-height: var(--line-height-base);
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* removes user agent styles */
.reset {
  all: unset;
  box-sizing: border-box;

  &:focus-visible {
    @include focus;
  }
}

/* content is _visually_ hidden but still accessible to screen readers */
.visually-hidden:not(:focus):not(:active) {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.slant {
  --slant: 6px;

  clip-path: polygon(
    var(--slant) 0,
    100% 0,
    calc(100% - var(--slant)) 100%,
    0 100%
  );

  &:first-of-type {
    clip-path: polygon(0 0, 100% 0, calc(100% - var(--slant)) 100%, 0 100%);
  }

  &:last-of-type {
    clip-path: polygon(var(--slant) 0, 100% 0, 100% 100%, 0 100%);
  }
}
