h1 {
  font-size: var(--h1);
  margin-bottom: var(--spacing-small);
}

h2 {
  font-size: var(--h2);
  margin-top: var(--spacing-large);
  margin-bottom: calc(var(--spacing-small) / 2);
}

p {
  margin-bottom: var(--spacing-small);
}

ul,
ol {
  margin-bottom: var(--spacing-small);
}

.slim {
  max-width: var(--text-width);
}

.wide {
  width: calc(100vw - var(--sidebar-width) - 2 * var(--spacing-large));
}
