/* adapted from https://github.com/sveltejs/svelte/blob/dafbdc286eef3de2243088a9a826e6899e20465c/site/static/prism.css */

/*
-----------------------------------------------
	syntax-highlighting [prism]
-----------------------------------------------
*/

/*	colors --------------------------------- */
code,
pre[class*='language-'] {
  --background: rgb(246, 250, 253);
  --base: rgb(68, 68, 68);
  --comment: #696969;
  --keyword: #007f8a;
  --function: #bb5525;
  --string: #856e3d;
  --number: #008000;
  --tags: var(--function);
  --important: var(--string);
}

/*	type-base ------------------------------ */
code[class*='language-'],
pre[class*='language-'] {
  background: none;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  color: var(--base);
  tab-size: 2;
  -moz-tab-size: 2;
  -webkit-hyphens: none;
  hyphens: none;
}

/*	code-blocks ---------------------------- */
pre[class*='language-'] {
  overflow: auto;
  padding: 1.5rem 2rem;
  margin: 1rem 0;
  border-radius: 0.4rem;
  height: fit-content;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: var(--background);
}

:not(pre) > code:not(.no-style) {
  border-radius: 0.3em;
  color: #444;
  padding: var(--code-padding-v) var(--code-padding-h);
  margin: 0 0.2rem;
  top: -0.1rem;
  background: #eff8ff;
}

/*	tokens --------------------------------- */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--comment);
}

.token.punctuation {
  color: var(--base);
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--tags);
}

.token.boolean,
.token.number {
  color: var(--number);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--string);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: var(--base);
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: var(--function);
}

.token.keyword {
  color: var(--keyword);
}

.token.regex,
.token.important {
  color: var(--important);
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
